WcfService1/Connected Services/CallbackDepartmentService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDepartmentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Plus_InputMessage">
    <wsdl:part name="parameters" element="tns:Plus" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_Result_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Result" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetAllList" message="tns:IDepartmentService_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetAllListResponse" message="tns:IDepartmentService_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetList" message="tns:IDepartmentService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetListResponse" message="tns:IDepartmentService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Add" message="tns:IDepartmentService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/AddResponse" message="tns:IDepartmentService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Delete" message="tns:IDepartmentService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/DeleteResponse" message="tns:IDepartmentService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/Plus" message="tns:IDepartmentService_Plus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Result">
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/Result" message="tns:IDepartmentService_Result_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDepartmentService" type="tns:IDepartmentService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDepartmentService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllList">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/GetAllList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/Plus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Result">
      <soap12:operation soapAction="http://tempuri.org/IDepartmentService/Result" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="NetTcpBinding_IDepartmentService" binding="tns:NetTcpBinding_IDepartmentService">
      <soap12:address location="net.tcp://localhost:1113/DepartmentService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1113/DepartmentService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>