WcfService1/Connected Services/CallbackUserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Plus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Plus" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Add" message="tns:IUserService_Add_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllList" message="tns:IUserService_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllListResponse" message="tns:IUserService_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/Plus" message="tns:IUserService_Plus_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <soap12:operation soapAction="http://tempuri.org/IUserService/Plus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="NetTcpBinding_IUserService" binding="tns:NetTcpBinding_IUserService">
      <soap12:address location="net.tcp://localhost:1113/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1113/UserService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>